@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    color: black;
    background-image: url('./assets/background4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* For iOS */
    -webkit-background-position: center; /* For iOS */
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    touch-action: manipulation;
    width: 100%;
    position: relative; /* Change this from fixed to relative */
}

#root {
    min-height: 100%;
    position: relative;
    overflow-y: auto;
    /* Allows vertical scrolling for content */
}

.loader {
    border-top-color: #3498db;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}